@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;600;800&display=swap');


*,
html{
   padding: 0;
   margin: 0;
}
.body{
   background-color: aliceblue;
   margin: 0;
   padding: 0;
}
a{
   text-decoration: none;
}

li{
   list-style-type: none;

}
.navbar{
   display: flex;
   width: auto;
   background-color:  #64ce75;
   height: 70px;
   padding: 0px 0px 0px 0px;
   align-items: center;
   list-style-type: none;

}

.logo{
   float: left;
   width: 5%;
}

.teks{
   width: 10%;
   font-size: 15pt;
   font-weight: 1000px;
   font-family: 'Kanit', sans-serif;
   color: white;
   line-height: 1;
   
   
   
   
   
   
   
}
.menu-navbar{
   display: flex;
   align-items: left;
   width: 45%;
   justify-content: space-between;
   padding: 0px 0px 0px 200px;
   font-family: 'Kanit', sans-serif;
   color: white;
  
   
}
.menu-navbar a{
   color: rgb(255, 255, 255);
}
.menu-navbar i:hover{
   background-color: mediumslateblue;
   border-radius: 10%;
   padding: 3px 3px 3px 3px;

}
.menu-navbar a:hover{
   background-color: mediumslateblue;
   border-radius: 10%;
   padding: 3px 3px 3px 3px;
}

.sosmed{
   display: flex;
   align-items: center;
   padding: 2px 0px 0px 150px;
   color: rgb(255, 255, 255);
   justify-content: space-between;

   
}

.sosmed i:hover {
   background-color: rgb(255, 255, 255);
   border-radius: 20%;
   padding: 3px 3px 3px 3px;
}
.container{
 width: 100%;  
 padding: 0 ;
 margin: 0 ;
}

.top-wrapper{
background-image: url(wrapper.jpeg);
border-bottom-left-radius: 30px;
border-bottom-right-radius: 30px;
padding: 100px 0 200px 0 ;
background-size: cover;
text-align: center;


}

.container h1 {
font-family: 'Kanit', sans-serif;
font-size: 50pt;
color: #fbff00


}

.container p {
   font-family: 'Kanit', sans-serif;
   font-size: 16pt;
   color:  #ffffff
   

   
}

.btn-wrapper{
   font-family: 'Kanit', sans-serif;
   border-radius: 4x;
   padding: 30px 0 36px;
   display: inline-block;
   font-size: 15pt;
   color: rgb(255, 255, 255);
}

.btn-wrapper .kandungan{
   color: #000;
}

   



.btn-wrapper p{
   padding: 10px 0;
}
.show-btn{
   background-color: white;
   border-radius: 15px;
   padding: 6px;
   color: black;
   
}
.btn-facebook{
   background-color: rgb(21, 0, 206);
   border-radius: 15px;
   padding: 6px;
   color: white;
   
  
   
}
.btn-tiktok{
   background-color: rgb(0, 0, 0);
   border-radius: 15px;
   padding: 6px;
   color: white;
   }

   .show-btn:hover{
   background-color: lightsteelblue;
   }

   .btn-facebook:hover{
      background-color: lightsteelblue;
   }
.btn-tiktok:hover{
   background-color: lightsteelblue;

}
   .contact-form{
      font-family: 'Kanit', sans-serif;
      color: bl;

   }

.kotak-hubungi {
   font-family: 'Kanit', sans-serif;
   color: black;
   align-items: left;
   

   
}
.kirim-tombol{
   width: 100px;
   align-items: center;
}

input[type="checkbox"]{
   display: none;
}

.kandungan{
   position: absolute;
   top: 80%;
   left: 50%;
   transform: translate(-50%, -50%);
   background: #ffffff;
   width: 410px;
   padding: 30px;
   font-family: 'Kanit', sans-serif;
   box-shadow: 0 0 50pxpx rgb(0, 0, 0);
   border-radius: 25px;
   display: none;
  }
  #show:checked ~ .kandungan{
   display: block;
  }

  .fa-rectangle-xmark{
   position: absolute;
   right: 20px;
   top: 15px;
   cursor: pointer;
   
  }
  .fa-rectangle-xmark:hover{
   color: rgb(158, 147, 147);
  }
.text{
text-align: center;
font-weight: 600;
font-size: 20pt;
}
.Login form .data {
   height: 45px;
   width: 100%;
   margin: 40px 0;
}
form .data label{
   font-size: 20px;
}
.forgot{
   color: aqua;
   font-size: medium;
   text-decoration: underline;
}
form .data input{
   height: 100%;
   width: 100%;
   font-size: 25px;
}

form .btn-login{
   text-align: center;
   width: 100%;
   position: relative;
   font-family: 'Kanit', sans-serif;
   height: 100%;
   padding-top: 40px;
}



.artikel-teks{
   border: #64ce75;
   border-radius: 40px;
   border-style: solid;
   font-family: 'Kanit', sans-serif;
   padding: 10px;
}

.artikel{
   padding: 5px;
}

.kolom-koran{
   padding: 10px;
   column-count : 4;
   
}
.garis{
 size: 20px;
}
