@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;600;800&display=swap');


*,
html{
   padding: 0;
   margin: 0;
}
.body{
   background-color: aliceblue;
   margin: 0;
   padding: 0;
}
a{
   text-decoration: none;
}

li{
   list-style-type: none;

}
.navbar{
   display: flex;
   width: auto;
   background-color:  #64ce75;
   height: 70px;
   padding: 0px 0px 0px 0px;
   align-items: center;
   list-style-type: none;

}

.logo{
   float: left;
   width: 5%;
}

.teks{
   width: 10%;
   font-size: 15pt;
   font-weight: 1000px;
   font-family: 'Kanit', sans-serif;
   color: white;
   line-height: 1;
   
   
   
   
   
   
   
}
.menu-navbar{
   display: flex;
   align-items: left;
   width: 45%;
   justify-content: space-between;
   padding: 0px 0px 0px 200px;
   font-family: 'Kanit', sans-serif;
   color: white;
  
   
}
.menu-navbar a{
   color: rgb(255, 255, 255);
}
.menu-navbar i:hover{
   background-color: mediumslateblue;
   border-radius: 10%;
   padding: 3px 3px 3px 3px;

}
.menu-navbar a:hover{
   background-color: mediumslateblue;
   border-radius: 10%;
   padding: 3px 3px 3px 3px;
}

.sosmed{
   display: flex;
   align-items: center;
   padding: 2px 0px 0px 150px;
   color: rgb(255, 255, 255);
   justify-content: space-between;
}
.sosmed i:hover {
    background-color: rgb(255, 255, 255);
    border-radius: 20%;
    padding: 3px 3px 3px 3px;
}
.container{
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   margin: 40px 20px 0 20px;
 }
 .pisah{
   height: 30px;
   width: auto;
 }
 
 .container .heading{
   background-color: #64ce75;
   font-family: 'Kanit', sans-serif;
   text-align-last: center;
   padding: 0px 100px 0px 100px ;
   color: white;
   border-radius: 10px;
   font-size: larger;
 }
 .container .heading h3{
   font-size: 3em;
   font-weight: bolder;
   padding-bottom: 10px;
   border-bottom: 3px solid #222;
 }
 
 .container .heading h3 span{
   font-weight: 100;
 }
 .container .box{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
 }
 
 .container .box .dream{
   display: flex;
   flex-direction: column;
   width: 32.5%;
 }
 
 .container .box .dream img{
   width: 100%;
   margin-bottom: 15px;
   border-radius: 20px;
   border: #64ce75 solid;
 }
 
 .container .btn{
   margin: 40px 0 70px 0;
   background: #222;
   padding: 15px 40px ;
   border-radius: 5px;
 }
 
 .container .btn a{
  color: #fff;
  font-size: 1.2em;
  text-decoration: none;
  font-weight: bolder;
  letter-spacing: 3px;
 }
 
 @media only screen and (max-width: 769px){
     .container .box{
    flex-direction: column;
   }
 
 .container .box .dream{
   width: 100%;
 }
 
 
 
 
 
 }
 
 @media only screen and (max-width: 643px){
 .container .heading{
   width: 100%;
 }
 .container .heading h3{
   font-size: 1em;
 
 }
 
 
 
 
 
 
 
 }