.top {
    background-color: rgb(186, 240, 80);
    height: 80px;
}

.logo {
    width:5%;
    height:5%;
    margin: 3px;
}

.tulisan {
    display: flex;
    justify-content: left;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    padding: 5;
    margin: 0;
}

.navbar {
    float:right;
    padding-left:680px ;
}

.navbar a {
    padding: 20px;
}

.mid {
    background-color: antiquewhite;
    height: 520px;
}

.bottom {
    background-color: rgb(186, 240, 80);
    height: 80px;
}